<ul class="navbar-nav ms-auto align-items-lg-center gap-lg-1">
    <li class="nav-item">
        <a class="nav-link" asp-controller="AgentProperties" asp-action="AgentHome">Agent Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="AgentProfile" asp-action="Index">My Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="AgentProperties" asp-action="Index">Property Maintenance</a>
    </li>
    <li class="nav-item ms-lg-2">
        <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
            <button type="submit" class="btn btn-outline-real" style="border-color: rgba(255,255,255,0.5); color: #fff;">
                <i class="fa-solid fa-right-from-bracket me-1"></i>Sign Out
            </button>
        </form>
    </li>
</ul>