<ul class="navbar-nav ms-auto align-items-lg-center gap-lg-1">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Agents" asp-action="Index">Agents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">Join the app</a>
    </li>
    <li class="nav-item ms-lg-2">
        <a class="btn btn-accent" asp-controller="Account" asp-action="Login">
            <i class="fa-solid fa-right-to-bracket me-1"></i>Sign In
        </a>
    </li>
</ul>